/* Slick Carousel */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';



.seat {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
  }

  /* styles.css or any other stylesheet */

  .fade-enter {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .fade-enter-active {
    opacity: 1;
  }
  
  .fade-exit {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .fade-exit-active {
    opacity: 0;
  }

  .fixed-image {
    width: 100%; /* or any specific width, e.g., 300px */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio */
  }
  