.seat {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
  }

  /* styles.css or any other stylesheet */

  .fade-enter {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .fade-enter-active {
    opacity: 1;
  }
  
  .fade-exit {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .fade-exit-active {
    opacity: 0;
  }